<div class="container-fluid about mb-5">
  <div class="row">
    <div class="col-md-12 main">
     <img src="assets/about/about.jpeg" class="d-block w-100" alt="">
     <h1 class="animate__animated animate__backInUp">ABOUT US</h1>
    </div>
  </div>
</div>
<div class="container-fluid benifits mb-5 mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2><span class="our">OUR</span> BENIFITS</h2>
      <h2><span class="why">WHY</span> YOU CHOOSE US</h2>
      <p>Welcome to Expert Art Digitizing, your one-stop-shop for high- quality embroidery digitizing and vector art services. Whether you need graphic desiging for sports teams, businesses, military units, motorcycle clubs and events, camping, Scouting, martial arts or any other purpose, we've got you covered.</p>

      <p>Our team of experienced designer uses the latest technology to create custom embroidery designs and vector art, graphic design that perfectly match your specifications. We are committed to providing top-quality digitizing services at competitive prices, with unbeatable customer service.</p>

      <p>Expert Art Digitizing consists of highly-skilled graphic artist and experienced digitizers who take great pride in their work. Our productions are controlled for the highest possible quality by qualified controllers progressively before they are released to our customers worldwide. Expert Art Digitizing operates through a high-speed digital network, where your designs can be uploaded online with high-speed efficiency to deliver us and we send you back your finished job by using same channel. Our commitment is to provide our customers with the highest quality products, fastest service and best customer care.</p>

      <p>Thank you for choosing Expert Art Digitizing for your embroidery digitizing and vector art, graphic design needs. We are confident that you will be satisfied with our top-quality services and unbeatable customer service.</p>
    </div>
    <div class="col-md-6 about_us">
      <img class="w-100  image-fluid" src="assets/about/about_us.jpeg" alt="">
    </div>
  </div>
</div>

<div class="container-fluid mb-5 skill">
  <div class="row">
    <div class="col-md-6">
      <h2><span class="our">OUR</span> SKILLS</h2>
      <h2 class="text-black mb-4" >The Leading Source <span class="why">For Our</span> Skill</h2>
      <p>So, If You're Looking For A Team Of Passionate Artists, Skilled Digitizers, And Dedicated Professionals, EA Digitzing Is The Place For You. Come And Experience The Excellence That Defines Us - Because We Are Not Just Another Digitizing Service; We Are Your CreativePartner On The Path To Success. Hurry Up And Be A Part Of The EA Digitizing Faimly!</p>
    </div>
    <div class="col-md-6 mt-5 pt-5">
      <h5 class="mb-0">EMBORIDERY DIGITIZING SERVICES <span class="bar">97%</span></h5>
      <div class="progress mb-3" style="height: 5px;">
        <div class="progress-bar" role="progress" style="width: 97%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h5 class="mb-0">VECTOR ART & GRAPHIC DESIGN <span class="bar"> 99%</span></h5>
      <div class="progress mb-3" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h5 class="mb-0">CUSTOM PATCHES <span class="bar">91%</span></h5>
      <div class="progress mb-3" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 91%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>


<!-- review section  -->
<div class="container-fluid rev bg-dark mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 col-sm-12 icons px-5">
      <swiper-container class="mySwiper" loop="true" slides-per-view="3" [slidesPerView]="calculateSlidesPerView()" autoplay-delay="2500" autoplay-disable-on-interaction="false">
        <swiper-slide><img src="assets\icon\compucan.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\software3-min.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\corel.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\ai.jfif" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\ps.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\ae.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\id.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\pulse.png" alt=""></swiper-slide>
        <swiper-slide><img src="assets\icon\expe.png" alt=""></swiper-slide>
      </swiper-container>        
    </div>
  </div>
<div class="row revimage">
  <div class="col-md-2"></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/like.png " alt="">
    <h2>Quality</h2>
    <p>Since 2005, connect to us for the best service. Need clear digitizing photos for embroidery. Give help make the best quality with the perfect design. Placements, size, and thread color.</p>
  </div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/satis.png" alt="">
    <h2>Satisfaction</h2>
    <p>Highest quality both customize services top worldwide. Fair even low cost. We work for many individual digitizing companies. Get your team Perfect Branded clothes and Items</p></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/pro.png " alt="">
    <h2>Professional</h2>
    <p>Professionalism is a Prime concern. Friendly, Fast delivery. Providing top quality, achieving goals with amazing results being good about ourselves. Focus on your beliefs and your values.</p></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4" src="assets/gallery/support.png" alt="">
    <h2>Customer Support</h2>
    <p>Team quick as lightning Solve Problem. Orders, Quotes, and Estimates Execution within 1 to 2 hours. Email, Phone: 24/7 Live chat support.
    </p>
  </div>
  <div class="col-md-2"></div>

</div>
</div>

<div class="border mt-5 mb-5"></div>
