<div class="container-fluid">
<div class="row">
<div class="col-md-12 head mb-2 mt-5  bg-dark">
 <h1><span>Embroidery</span> Digitizing</h1>
 <p class="text-white">We are offering custom embroidery digitizing with the fastest turn around time at reasonable price and providing high quality work with friendly customer support</p>
</div>
</div>
<div class="row mt-3 mb-2">
  <div class="col-md-3"></div>
  <div class="col-md-8  px-5 btsec">
    <button (click)="toggleMain()" class="btn  mb-2" [disabled]="mainClicked">Main</button>&nbsp;
    <button (click)="toggleFormat()" class="btn mb-2" [disabled]="formatClicked">Format</button>&nbsp;
    <button (click)="toggleTurn()" class="btn mb-2" [disabled]="turnClicked">Turnaround</button>&nbsp;
    <button (click)="togglePrice()" class="btn mb-2" [disabled]="priceClicked">Price</button>&nbsp;
    <button (click)="togglegall()" class="btn mb-2" [disabled]="galleryClicked">Gallery</button>&nbsp;
    <button (click)="toggleOrder()" class="btn mb-2" [disabled]="orderClicked">Order Now</button>
  </div>
  <div class="col-md-"></div>
</div>
</div>
@if(main){
<div class="container-fluid main">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <img class="image-fluid w-100" src="assets/embroidy/1.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <img class="image-fluid w-100" src="assets/embroidy/2.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img class=" w-100" src="assets/embroidy/3.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img  class="w-100" src="assets/embroidy/4.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img  class="w-100" src="assets/embroidy/6.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img class=" w-100" src="assets/embroidy/5.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img class=" w-100" src="assets/embroidy/7.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img  class="w-100" src="assets/embroidy/8.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img  class="w-100" src="assets/embroidy/10.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img class=" w-100" src="assets/embroidy/9.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img class=" w-100" src="assets/embroidy/11.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img  class="w-100" src="assets/embroidy/12.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img  class="w-100" src="assets/embroidy/14.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img class=" w-100" src="assets/embroidy/13.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img class=" w-100" src="assets/embroidy/15.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img  class="w-100" src="assets/embroidy/16.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img  class="w-100" src="assets/embroidy/18.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img class=" w-100" src="assets/embroidy/17.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img class=" w-100" src="assets/embroidy/19.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img  class="w-100" src="assets/embroidy/20.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-1">
  <div class="col-md-1"></div>
  <div class="col-md-5 ">
    <img  class="w-100" src="assets/embroidy/22.jpg" alt="">
  </div>
  <div  class="col-md-5">
    <img class=" w-100" src="assets/embroidy/21.jpg" alt="">
  </div>
  <div class="col-md-1"></div>
</div>
</div>
}@else if (format) {
  <div class="container-fluid format pb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 tbb">
        <h1>FORMATS</h1>
        <h5>File Format We Can Provide</h5>
        <p>There are many different embroidery file formats for different commercial embroidery machines and home sewing machines. We can digitize most of them if not all. If there are any formats that we cannot do, chances are, your machine will support multiple formats and there will be one or more of those formats that we can do. This has always been the case in our practice, and we have almost never turned anyone away. Below is a list of the formats that we can do.</p>
        <p class="digi" >DIGITIZING FORMAT</p>
        <div class="table-responsive">
        <table class="table table-borderless table-responsive ">
        <thead>
          <tr>
              <th><h5>By Manufacturer</h5></th>
              <th></th>
              <th><h5>By Format</h5></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Machine Manufacturer </td>
          <td>file format</td>
          <td>file format</td>
          <td>Machine Manufacturer</td>
        </tr>
        <tr>
          <td>Artista Design</td>
          <td>ART</td>
          <td>10O</td>
          <td>Toyota</td>
        </tr>
        <tr>
          <td>Babylock, Brother, Deco</td>
          <td>PEC</td>
          <td>AMT42</td>
          <td>Explorations Templates</td>
        </tr>
        <tr>
          <td>Babylock, Brother, Deco</td>
          <td>PEC</td>
          <td>ART</td>
          <td>Artista Design</td>
        </tr>
        <tr>
          <td>Barudan</td>
          <td>DSB</td>
          <td>ART42</td>
          <td>Explorations Projects </td>
        </tr>
        <tr>
          <td>Barudan</td>
          <td>T03</td>
          <td>CND</td>
          <td>Meleco</td>
        </tr>
        <tr>
          <td>Barudan</td>
          <td>U??</td>
          <td>CSD</td>
          <td>Poem, Huskygram, Singer</td>
        </tr>
        <tr>
          <td>Compucon/Singer</td>
          <td>XXX</td>
          <td>DAT</td>
          <td>Hiraoka DAT</td>
        </tr>
        <tr>
          <td>Explorations Templates</td>
          <td>AMT42</td>
          <td>DSB</td>
          <td>Barudan</td>
        </tr>
        <tr>
          <td>Explorations Projects </td>
          <td>ART42</td>
          <td>DST</td>
          <td>Tajima</td>
        </tr>
        <tr>
          <td>Happy</td>
          <td>TAP</td>
          <td>DSZ</td>
          <td>ZSK</td>
        </tr>
        <tr>
          <td>Hiraoka DAT</td>
          <td>TAP</td>
          <td>EMB</td>
          <td>Willcom</td>
        </tr>
        <tr>
          <td>Hiraoka VEP</td>
          <td>VEP</td>
          <td>ESL</td>
          <td>Willcom ESL</td>
        </tr>
        <tr>
          <td>Husqvarna/Viking</td>
          <td>HUS</td>
          <td>ESS</td>
          <td>Willcom ESS</td>
        </tr>
        <tr>
          <td>Husqvarna/Viking/PFAFF</td>
          <td>VIP</td>
          <td>EXP</td>
          <td>Melco</td>
        </tr>
        <tr>
          <td>Janmoe/Elna/kenmore</td>
          <td>JEF</td>
          <td>HUS</td>
          <td>Husqvarna/viking</td>
        </tr>
        <tr>
          <td>Janmoe/Elna/kenmore</td>
          <td>SEW</td>
          <td>JEF</td>
          <td>Janmoe/Elna/kenmore</td>
        </tr>
        <tr>
          <td>Melco</td>
          <td>CND</td>
          <td>KSM</td>
          <td>Pfaff</td>
        </tr>
        <tr>
          <td>Melco</td>
          <td>EXP</td>
          <td>MJD</td>
          <td>Time and Space MJD</td>
        </tr>
        <tr>
          <td>Pfaff</td>
          <td>KSM</td>
          <td>NGS</td>
          <td>Wings System</td>
        </tr>
        <tr>
          <td>Pfaff</td>
          <td>PCD</td>
          <td>PCD</td>
          <td>Pfaff</td>
        </tr>
        <tr>
          <td>Pfaff</td>
          <td>PCQ</td>
          <td>PCQ</td>
          <td>Pfaff</td>
        </tr>
        <tr>
          <td>Pfaff</td>
          <td>PCS</td>
          <td>PCS</td>
          <td>Pfaff</td>
        </tr>
        <tr>
          <td>Pfaff</td>
          <td>T01</td>
          <td>PEC</td>
          <td>Babylock, Lock, Deco</td>
        </tr>
        <tr>
          <td>Poem Huskygram, Singer</td>
          <td>CSD</td>
          <td>PES</td>
          <td>Babylock, Lock, Deco</td>
        </tr>
        <tr>
          <td>Saurer SLC</td>
          <td>SAS</td>
          <td>T01</td>
          <td>Tajima</td>
        </tr>
        <tr>
          <td>Tajima</td>
          <td>DST</td>
          <td>T03</td>
          <td>Barudan</td>
        </tr>
        <tr>
          <td>Tajima</td>
          <td>T01</td>
          <td>T04</td>
          <td>Zangs</td>
        </tr>
        <tr>
          <td>Time and Space Singer</td>
          <td>MJD</td>
          <td>T05</td>
          <td>ZSK</td>
        </tr>
        <tr>
          <td>Toyota </td>
          <td>10O</td>
          <td>T09</td>
          <td>Pfaff</td>
        </tr>
        <tr>
          <td>Willcom</td>
          <td>EMB</td>
          <td>T10</td>
          <td>Willcom Plauen</td>
        </tr>
        <tr>
          <td>Willcom ESL </td>
          <td>ESL</td>
          <td>T15</td>
          <td>Willcom Saurer</td>
        </tr>
        <tr>
          <td>Willcom ESS</td>
          <td>ESS</td>
          <td>TAP</td>
          <td>Happy</td>
        </tr>
        <tr>
          <td>Willcom Plauen</td>
          <td>T10</td>
          <td>SAS</td>
          <td>Saurer SLC</td>
        </tr>
        <tr>
          <td>Willcom Saurer </td>
          <td>T15</td>
          <td>SEW</td>
          <td>Janmoe/Elna/Kenmore</td>
        </tr>
        <tr>
          <td>Willcom Saurer</td>
          <td>NGS</td>
          <td>U??</td>
          <td>Barudan</td>
        </tr>
        <tr>
          <td>Wings System</td>
          <td>T04</td>
          <td>VEP</td>
          <td>Hiraoka VEP</td>
        </tr>
        <tr>
          <td>Zangs</td>
          <td>T04</td>
          <td>VIP</td>
          <td>Husqvarna viking/Pfaff<td>
        </tr>
        <tr>
          <td>ZSK</td>
          <td>DSZ</td>
          <td>XXX</td>
          <td>Compucon/Singer<td>
        </tr>
        <tr>
          <td>ZSK TC</td>
          <td>Z??</td>
          <td>Z??</td>
          <td>ZSK TC<td>
        </tr>
        </tbody>
        </table>
      </div>
        <h5 class="pb-2">Softwares We Use </h5>
        <h5>Artwork File Format You can Submit</h5>
        <p>We recommend that you prepare your artwork or ask your client to submit artwork in one of these formats:</p>
        <p><b>JPG</b> - good choice for images with many colors, photos, scanned images, etc.
          <b>GIF, PNG</b>- ideal for designs with fewer colors, especially larger areas of solid colors. e.g. text, logo
          <b>PDF</b></p>
        <p><b>EPS, AI </b>- these are vector formats meaning the artwork can be easily scaled. Don't forget to convert fonts used in the design into outlines <b>Word Document</b> - some clients do send these, it is ok. Just keep in mind that instead of embedding an image to a Word document that may lower its quality, you can just send that image.</p>
        <p><b> TIFF,</b> BMP - these will work, but the file size may be huge. Alternatively, JPG may be a better format to use.</p>
        <p>If you've got a different format, send it anyway we'll let you know if we can't open it.</p>
        <p>Two important factors to consider - image size and file size. We suggest that you submit a relatively large image, ideally at 300dpi resolution (e.g. if the desired size is 3" x 3", at 300 dpi, the image size will be 900 x 900 pixels). However, please prepare a relatively smaller file size, recommended to be below 2MB. Again, keep in mind that generally JPG is good in compression, while TIFF and BMP may be 10 times bigger.</p>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
}
@else if (turn) {
  <div class="container-fluid Turn  pb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 tbb">
          <h1>Turnaround</h1>
          <h5>Turnaround Time</h5>
          <p>Our digitizers & Designers work around the clock - almost 24 hours a day, 7 days a week. This allows us to deliver quality digitizing service in a timely manner. More often than not, Our clients place standard orders and get express service without extra cost. Though we state that our standard turnaround time is up to 12 hours, we often return the same day if order placed in the morning some times in a couple hours. An- other typical practice is "Place order by dinner and get it back by breakfast". This doesn't mean that we rush the digitizing job without care. We treat every order with care and have the QA (quality assurance) in place whether the design is big or small.</p>
          <p>If you have any urgent request, let us know and we will do our best to meet your deadline.</p>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
}
@else if (price) {
  <div class="container-fluid  pb-5 pricing">
    <div class="brd mx-5 ">
    <div class="row px-3">
      <div class="col-md-10 ">
          <h1>Pricing</h1>
          <h5>Our Affordable Price Plans</h5>
          <p class="pb-3 px-0">Some embroidery digitizing companies charge a flat rate per 1000 stitches. When a job is in low stitch count, it is not very fair to the digitizer (us); and when a job has a high stitch count (and it could be quite easy to digitize), the price may be unfairly high for the client (you). To solve these problems we are offering different pricing plans. We also consider various discounts for different factors, including simplicity of the design, new client discount, volume discount, etc. not to mention the seasonal promotions and specials, as our ways of saying "Thank you for your business!"</p>
          <p>We understand, and we think you do too, it is the high digitizing quality, not just the low price, that will help you succeed. Price wars cannot last forever, fighting for quality can and will. That's why we do not strive to beat each of our rivals with lower price (bad practice), instead, with reasonable price, we always focus on providing top quality digitizing and force our competitors to chase our higher standard, which is a much harder thing to do. If top quality is also your top priority, try us and you will not regret.</p>
      </div>
    </div>
    <div class="border mt-5"></div>
    <div class="row">
      <div class="col-md-2"><img class="w-100" src="assets/pricing/1.png" alt=""></div>
      <div class="col-md-2"><img class="w-100" src="assets/pricing/2.png" alt=""></div>
      <div class="col-md-2"><img class="w-100" src="assets/pricing/3.png" alt=""></div>
      <div class="col-md-2"><img class="w-100" src="assets/pricing/4.png" alt=""></div>
      <div class="col-md-2"><img class="w-100" src="assets/pricing/5.png" alt=""></div>
      <div class="col-md-2"><img class="w-100" src="assets/pricing/6.png" alt=""></div>
    </div>
    <div class="border mb-5"></div>
    <div class="row DEPENDS">
     <h5 class="fs-2">OUR PRICE DEPENDS ON </h5>
     <h1 class="priheading">COMPLEXITY OF YOUR ARTWORK</h1>
     <P>The price range of our service are categorized below to give you better understanding</P>
     <div class="col-md-4"><img class="w-100" src="assets/pricing/Basic.png" alt=""></div>
     <div class="col-md-4"><img class="w-100" src="assets/pricing/Permium.png" alt=""> </div>
     <div class="col-md-4"><img class="w-100" src="assets/pricing/Standard.png" alt=""> </div>
    </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <img class="w-100" src="assets/pricing/Pricing Slider Embroidry.jpg" alt="">
    </div>
    <div class="col-md-1"></div>
  </div>

  </div> <!--main border div -->
  </div>
}
@else if (gallery) {
  <div class="container-fluid">
    <div class="brd mx-5 ">
    <div class="row  mt-3"> <!--row 1-->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/0.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/1.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/01.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/2.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/3.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row  mt-2"> <!--row 2 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/4.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/5.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/6.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/7.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/8.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2">  <!--row 3 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/9.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/8.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/11.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/12.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/13.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 4 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/14.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/15.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/16.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/17.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/18.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 5 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/19.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/20.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/21.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/22.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/23.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 6 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/24.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/25.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/26.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/27.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/28.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 7 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/29.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/30.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/31.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/32.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/33.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 7 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/34.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/35.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/36.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/37.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/38.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 8 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/39.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/40.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/41.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/42.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/43.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 9 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/44.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/45.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/46.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/47.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/48.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 10 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/49.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/50.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/51.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/52.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/53.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row 2 mt-2"> <!--row 11 -->
      <div class="col-md-1"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/54.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/55.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/56.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/57.jpg" alt="" class="w-100"></div>
      <div class="col-md-2 px-1"><img src="assets/Emb-gallery/58.jpg" alt="" class="w-100"></div>
      <div class="col-md-1"></div>
    </div>

  </div> <!--main border div -->
</div>
}
@else if (order) {
  <div class="container-fluid ">

 <form action="" >
  <div class="row mb-3">
    <div class="col-md-2"></div>
  <div class="col-md-8 formheader"><h1 class="forheading">Get Your Free Qoute</h1></div>
    <div class="col-md-2"></div>
   </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <input type="text" name="" class="form-control" placeholder="Full Name" id="full-Name">
    </div>
    <div class="col-md-6">
      <input type="email" name="" class="form-control" placeholder="Email" id="mail">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <input type="text" name="" class="form-control" placeholder="Company name" id="cmp-name">
    </div>
    <div class="col-md-6">
      <input type="number" name="" class="form-control" placeholder="Contact Number" id="contact">
    </div>
  </div>

  <!-- Dropdowns -->
  <div class="row mb-4">
    <div class="col-md-6">
      <select class="form-control">
        <option value="">Services</option>
        <option value="">Chest logo Digitizing</option>
        <option value="">Hat/Cap logo</option>
        <option value="">JacketBack Digitizing </option>
        <option value="">Photo Embroidery Digitizing </option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control">
        <option value="">File Format</option>
        <option value="">DST</option>
        <option value="">EMB</option>
        <option value="">EXP</option>
        <option value="">CND</option>
        <option value="">OFM</option>
        <option value="">PXF</option>
        <option value="">PES</option>
        <option value="">CDR</option>
        <option value="">PEF</option>
      </select>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <select class="form-control">
        <option value="" >Turnaround</option>
        <option value="" disabled>Choose an option</option>
        <option value="">Normal</option>
        <option value="">Urgent</option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control">
        <option value="">Complexity</option>
        <option value="">Choose an option</option>
        <option value="">Simple (Text Only)</option>
        <option value="">Medium (Monogram)</option>
        <option value="">Complex (Detail work)</option>
        <option value="">Hard Core (Max Detail)<option>
      </select>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <input type="number" name="" class="form-control" placeholder="Width" id="cmp-name">
    </div>
    <div class="col-md-6">
      <input type="number" name="" class="form-control" placeholder="Height" id="contact">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <textarea class="form-control" placeholder="Your project Details" rows="4"></textarea>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <input class="form-control fileup" type="file" value="choose file">
    </div>
  </div>

  <!-- Submit Button -->
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </div>

</form>
  </div>
}

