<div class="container-fluid">
<div class="row">
<div class="col-md-12 head mb-2 mt-5  bg-dark">
 <h1><span>Embroidry</span> Digitizing</h1>
 <p class="text-white">We are offering custom embroidery digitizing with the fastest turn around time at reasonable price and providing high quality work with friendly customer support</p>
</div>
</div>
<div class="row mb-5">
<div class="col-md-12  btsec">
 <button class="btn ">Format</button>&nbsp;
 <button class="btn ">Turnaround</button>&nbsp;
 <button class="btn ">Price</button>&nbsp;
 <button class="btn ">Gallery</button>&nbsp;
 <button class="btn ">Order Now </button>
</div>
</div>
</div>
<div class="container-fluid format">
<div class="row">
  <div class="col-md-12">
    <img src="" alt="">
  </div>
</div>
</div>
