<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/gallery/Custom Patches Slide.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/gallery/Embroidry Slide.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/gallery/Graphic Slider.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid" id="about">
  <div class="row  ">
  <div class="col-md-12  about-us">

     <h1>About</h1>
    <div class="border"></div>
  </div>
  </div>
<div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
  <p>Welcome to Expert Art Digitizing, your one-stop-shop for high-quality embroidery digitizing and vector art services. Whether you need graphic desiging for sports teams, businesses, military units, motorcycle clubs and events, camping, Scouting, martial arts or any other purpose, we've got you covered.</p>
  <p>Our team of experienced designer uses the latest technology to create custom embroidery designs and vector art, graphic design that perfectly match your specifications. We are committed to providing top-quality digitizing services at competitive prices, with unbeatable customer service.</p>
  <p>Expert Art Digitizing consists of highly-skilled graphic artist and experienced digitizers who</p>
</div>
<div class="col-md-2"></div>
</div>
</div>

<div class="container-fluid" id="Service">
  <div class="row ">
    <div class="col-md-12">
      <h1>  Our Service </h1>
      <div class="border"></div>
    </div>
  </div>
  <!-- Embroidery service -->
  <div class="row serv"  >
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="button">Embroidery Digitizing</a>
        </div>
      </div>
         <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>We are offring custom embroidry digitizing with the fastest turn around time at resonable price and provding a highly quality work with the friendly customer support.</p>
        </div>
    <div class="col-md-3"></div>

  </div>
  <div class="row imgsec">
    <div class="col-md-1"></div>
    <div class="col-md-10"><img class="img-fluid" src="assets/gallery/Embroidry.jpeg" alt=""></div>
    <div class="col-md-1"></div>
  </div>
     <!-- Vector Service  -->
  <div class="row serv"  >
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="button">Vector Art</a>
        </div>
      </div>
         <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>We have spent year in perfecting our artist training and provide vector art services to some of
             the largest and best-known suppliers and distributors in Screen printing and promotional products industry.
          </p>
        </div>
    <div class="col-md-3"></div>
  </div>

      <div class="row imgsec">
        <div class="col-md-1"></div>
        <div class="col-md-10"><img class="img-fluid" src="assets/gallery/vector.jpeg" alt=""></div>
        <div class="col-md-1"></div>
      </div>
  <div class="row serv"  >
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="button">Graphic Design</a>
        </div>
      </div>
         <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>We have spent year in perfecting our artist training and provide graphic desine services to some of
            the largest and best-known suppliers and distributors in Screen printing and promotional products industry.</p>
        </div>
    <div class="col-md-3"></div>

  </div>
  <div class="row imgsec">
    <div class="col-md-1"></div>
    <div class="col-md-10"><img class="img-fluid" src="assets/gallery/graphic.jpeg" alt=""></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row serv"  >
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="button">Custom Patches</a>
        </div>
      </div>
         <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>We have spent year in perfecting our artist training and provide graphic desine services to some of
            the largest and best-known suppliers and distributors in Screen printing and promotional products industry.</p>
        </div>
    <div class="col-md-3"></div>
  </div>

      <div class="row imgsec">
        <div class="col-md-1"></div>
        <div class="col-md-10"><img class="img-fluid" src="assets/gallery/custom.jpeg" alt=""></div>
        <div class="col-md-1"></div>
      </div>
 <div class="row serv"  >
      <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="button">PORTFOLIO</a>
        </div>
      </div>
    </div>
    <div class="row imgsec">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\portfolio\port.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\portfolio\port.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\portfolio\port.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>
<div class="border mt-5 revbord"></div>

<div class="container-fluid rev bg-dark mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 icons px-5">
      <img class="mx-5 image-fluid" src="assets\icon\icons.png" alt="">
    </div>
  </div>
<div class="row revimage">
  <div class="col-md-2"></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/like.png " alt="">
    <h2>Quality</h2>
    <p>Since 2005, connect to us for the best service. Need clear digitizing photos for embroidery. Give help make the best quality with the perfect design. Placements, size, and thread color.</p>
  </div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/satis.png" alt="">
    <h2>Satisfaction</h2>
    <p>Highest quality both customize services top worldwide. Fair even low cost. We work for many individual digitizing companies. Get your team Perfect Branded clothes and Items</p></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4 " src="assets/gallery/pro.png " alt="">
    <h2>Professional</h2>
    <p>Professionalism is a Prime concern. Friendly, Fast delivery. Providing top quality, achieving goals with amazing results being good about ourselves. Focus on your beliefs and your values.</p></div>
  <div class="col-md-2 pt-5 text-white">
    <img class="mb-1 mx-5 mt-5 px-4" src="assets/gallery/support.png" alt="">
    <h2>Customer Support</h2>
    <p>Team quick as lightning Solve Problem. Orders, Quotes, and Estimates Execution within 1 to 2 hours. Email, Phone: 24/7 Live chat support.
    </p>
  </div>
  <div class="col-md-2"></div>

</div>
</div>

<div class="border mt-5 mb-5"></div>
